<% layout("/layouts/boilerplate") %>
<body>
    <style>
      #filters{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }
      .filter{
        text-align: center;
        margin-top: 2rem;
        margin-right: 2rem;
        opacity: 0.7;
      }
      .filter:hover{
        opacity: 1;
        cursor: pointer;
      }
      .filter p{
        font-size:0.8;
      }
      .tax-info{
        display: none;
      }
      .tax-toggle{
        border: 1px solid black;
        border-radius: 1rem;
        height: 3.25rem;
        padding: 1rem;
        margin-left: 2rem;
        display: flex;
        align-items: center;
      }
    </style>
    <div id="filters" >
      <div class="filter">
        <div><i class="fa-solid fa-fire"></i></div>
        <p class="choose" >Trending</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-bed"></i></div>
        <p class="choose">Rooms</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-mountain-city"></i></div>
        <p class="choose">Iconic Cities</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-mountain"></i></div>
        <p class="choose">Mountains</p>
      </div>
      <div class="filter">
        <div><i class="fa-brands fa-fort-awesome"></i></div>
        <p class="choose">Castels</p>
      </div><div class="filter">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p class="choose">Amazing Pools</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-tree"></i></div>
        <p class="choose">Camping</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-cow"></i></div>
        <p class="choose">Farms</p>
      </div><div class="filter">
        <div><i class="fa-regular fa-snowflake"></i></div>
        <p class="choose">Arctic</p>
      </div>
      
      <div class="tax-toggle">
        <div class="form-check-reverse form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault"> Taxes</label>
        </div>
      </div>
    </div>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
    <% for(let listing of alllistings){%>
      <div class="main">
      <a href="/listings/<%= listing._id %>" class="listing-link">
    <div class="card col listing-card" style="width: 18rem;">
      <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" >

        <div class="card-img-overlay" >
          <h5 class="card-title"></h5>
          <p class="card-text"></p>
          <p class="card-text"></p>
        </div>
        <div class="card-body">
          <p class="card-text">
            <b><%=  listing.title %></b><br>
            &#8377;<%= listing.price.toLocaleString("en-IN") %> /night
            <i class="tax-info">&nbsp;&nbsp;+18%GST</i>
            <b class="cat" style="display:none"><%=  listing.category %></b><br>
          </p>
        </div>
        
      </div>
    </a>
  </div>
      <% } %>
    </div>
</body>
<script>

  let chooseElements = document.getElementsByClassName("choose");

for (let i = 0; i < chooseElements.length; i++) {
  // Add a click event listener to each element
  chooseElements[i].addEventListener("click", () => {
    // Access the inner text of the clicked element
    let clickedText = chooseElements[i].innerText;
    let choosecard = document.getElementsByClassName("cat");
    let card = document.getElementsByClassName("main");
    for (let j = 0; j < choosecard.length; j++) {
      if (choosecard[j].innerText !== clickedText) {
        card[j].style.display = "none";
      } else {
        card[j].style.display = "inline";
      }
    }
  });
}






  
  let taxSwitch = document.getElementById("flexSwitchCheckDefault");
taxSwitch.addEventListener("click", () => {
  let taxInfo = document.getElementsByClassName("tax-info");
  for (let i = 0; i < taxInfo.length; i++) {
    if (taxInfo[i].style.display !== "inline") {
      taxInfo[i].style.display = "inline";
    } else {
      taxInfo[i].style.display = "none";
    }
  }
});

</script>


